/*
* Author:muthiana coder's
* Author URI: http://coders.muthiana.org
* Company:Muthiana;
* Company URI:http://muthiana.org
* Description:Application for domestic violence
* Copyright:2017 (c)

*/
body{


    font-family: 'Raleway', sans-serif;4


}
.bg-faded {
    background-color: white;
}
header{

}
.logo{
	width: 80px;
}

#denucia,  #violencia{
	background-color: #ff4800;
	border:none;

}
#mapid {
	width: 80vw;
    height: 78vh;
    position: relative;
    outline: none;*/
} 

.sub-menu  li{
	list-style: none;
	border: 1px solid;
}
.content{
	margin-top: 50px;
}
button {
	margin-bottom: 20px;
}
button a{
	color: white;
}
form{
	
	margin-bottom: 20px;
}



